html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  /* flex 1 = each child will distribute the extra space on page evenly */
  flex: 1;
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: whitesmoke;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1726070319073-17ca8a58a850?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8/1500x1500);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1726092708104-8ac69732f0ea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D/1500x1500);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1726092696603-002f851d9bc0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0M3x8fGVufDB8fHx8fA%3D%3D/1500x1500);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1726024708313-db80f6085141?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzOXx8fGVufDB8fHx8fA%3D%3D/1500x1500);
}
.panel5 {
  background-image: url(https://images.unsplash.com/photo-1717397488983-3f1ccd584c22?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D/1500x1500);
}

/* flex children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  /* grow 1 shrink 0 basis auto */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* move top and bottom lines off screen initially */

/* first child of all panel children */
.panel > *:first-child {
  transform: translateY(-100%);
}
/* active class */
.panel.open-active > *:first-child {
  transform: translateY(0);
}
/* last child of all panel children */
.panel > *:last-child {
  transform: translateY(100%);
}
/* active class */
.panel.open-active > *:last-child {
  transform: translateY(0%);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size: 40px;
  /* on open take up 5x the room than the other panels */
  flex: 5;
}
